<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Snake Snap</title>
 
 
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signup.css')}}" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="{{url_for('showSignin')}}">Sign in</a>
                    </li>
                    <li role="presentation"><a href="{{url_for('snakesnap')}}">SnakeSnap</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Snake Snap</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Sign in to send pictures</h1>
            <form class="form-signin">
                <label for="inputName" class="sr-only">Name</label>
                <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                
                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
            </form>
        </div>
 

        <footer class="footer">
            <p>&copy; CU Denver Neuroscience Outreach 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
