{% extends "header_footer.html" %} 
    <div class="container">
{% block content %}
       <div class="jumbotron">
            <h1>Welcome to SnakeSnap! </h1>
{% if session['logged_in'] %}
<p>You are logged in as {{username}}</p>
<p> To logout, click <a class="btn btn-lg btn-success" href="{{url_for('logout')}}" role="button">here</a></p>
<p> To continue to Snakesnap, click <a class="btn btn-lg btn-success" href="{{url_for('snakesnap')}}" role="button">here</a></p>
{% else %}
            <h3>Click below to log in and send pictures via email or click SnakeSnap at the top to begin without logging in</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="{{url_for('signin')}}" role="button">Sign in with your email</a>
            </p>
        </div>
</div>
{% endif %}
{% endblock content %}
