{% extends "header_footer.html" %}
{% block content %}
        <div class="jumbotron">
            <!-- you are logged in/not logged in message-->
            {% if username %}
            <p>Welcome {{session['username']}} you are logged in!</p>
            {% else %}
            <p> You are not logged in. Please click <a href="{{url_for('signin')}}">here</a> to send emails</p>
            {% endif %}
        </div>
<div class="container-fluid" style="background-color:grey">


  <h1>Snakesnap controls</h1>
   <div class="row">
    <div class="col-md-8 col-lg-8" style="background-color:#C0392B;">
        <img src="{{ url_for('video_feed')}}" alt="Cant connect to feed">
    </div>
    <div class="col-md-4 col-lg-4" style="background-color:#E67E22;">
        {% if files %}
        {% for file in files %}
        <ul>
            <li>
                <a href="static/snakesnap_files/{{file}}" target="_blank">{{file}}</a>
                <img src="static/snakesnap_files/{{file}}" title="file" alt="file" style="width:60px;height=60px;">
                </li>
        </ul>
        {% endfor %}
        {% else %}
        <p>No snakesnap photos found... yet</p>
        {% endif %}

    </div>
  </div>
<div class="col-md-4 col-lg-4">
    <button id="btnSignUp" class="btn btn-md btn-primary btn-block" type="submit">Snap</button>
</div>
</div>
{% endblock content %}
